
.main{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box{
    border: 4px solid rgb(22, 181, 35);
    border-radius: 5px;
    min-width: 30%;
    width: 300px;
}
.item-img{
    width: 200px;
}
.buttonSet{
    gap: 5px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}